# Ignore Data folders from Project 1
Projects/Project 1/Deliverable/Data/
Projects/Project 1/Development - David/Data/
Projects/Project 1/Development - Pedro/Data/

# Ignore Data folders from Project 2
Projects/Project 2/Deliverable/Data/
Projects/Project 2/Development - David/Data/
Projects/Project 2/Development - Pedro/Data/

